<div class="section about">
    <div class="jumbotron">
        <p>
            Este <strong> proyecto </strong> ha sido programado con el framework Symfony para mostrar la forma recomendada de programar aplicaciones Symfony.
        </p>
        <p>
            &copy 2023 desarrollado por Mario Rodríguez
        </p>
    </div>
</div>

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Fragment rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
