<div class="section about">
    <div class="jumbotron">
        <p>
            Este <strong> proyecto </strong> ha sido programado con el framework Symfony para mostrar la forma recomendada de programar aplicaciones Symfony.
        </p>
        <p>
            &copy 2023 desarrollado por Mario Rodríguez
        </p>
    </div>
</div>

