
<div {{ attributes }}>
        <form method="POST" action="{{ path('movie_search_results') }}">
            <div class="form-group col-md-12" style="display:flex; flex-direction:row; gap:5px; align-items:center;">
                    <input type="search"
                        class="form-control search-field"
                        placeholder="Busca tu película favorita"
                        autocomplete="off"
                        autofocus
                        name="buscar">
                        
                    <button type="submit" class="btn btn-info">Buscar</button>
            </div>
        </form>

    </div>
